@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: rgba(28, 28, 28, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgba(28, 28, 28, 1);
    --foreground: #ededed;
  }
}
* {
  font-family: 'Montferrat', sans-serif;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
